/* From Joni: Overall comments
 *    Hi Julie!  I am going to put my comments for your code in comments like this one.
 *
 *    Overall, you have a good start to your indenting in your CSS file, but make sure that you
 *    are consistant with how you indent.  Make sure all of your rules are indented the same amount of space
 *    and that each rule is on its own line.  For example:
 *
 *    h1 {
 *        color: white;
 *        margin: 20px;
 *        font-weight: bold;
 *    }
 * 
 *    Also, make sure you apply the font specs to all of the parts of the page, as per the design file.
 *    it seems to be missing for the paragraph (<p>) tags.
 */

header {
	background: url("../images/header_bg.jpg"); 
	}


h1 {color: white;
	margin: 20px;
	text-align: left;
	font-family: 
		font-family:'Open Sans', sans-serif; /* Great use of multiple fonts here! */
		font-weight: bold;
		font-size: 24px
		}

h2 { color: white;
	margin: 40px;
	text-align: center;
	font-family:'Open Sans', sans-serif;
		font-weight: semibold;
		font-size: 24px
		
			}

h3 {color: black; 
	margin: 40px;
	text-align: center;
	background:#f9e42e;
	padding: 5px; 
	border: 5px solid;
	border-color: yellow;
	border-width: 5px;
	font-family:'Open Sans', sans-serif;
		font-weight: bold;
		font-size: 14px;
	}






section {background-color: #f0efef;
}

h5 {color: white;
	font-family:'Open Sans', sans-serif;
		font-weight: bold;
		font-size: 14px;

}

ul li{
    list-style-type: circle;  /* Nice override of the list style type to get the bullet point back! */
}

h6 {color: white;
	margin: 40px;
	text-align: center;
	background:#f9e42e;
	padding: 5px; 
	border: 5px solid;
	border-color: yellow;
	border-width: 5px;
	font-family:'Open Sans', sans-serif;
		font-weight: bold;
		font-size: 14px;}

h7 {background-color: black; /* This could be removed - there is no h7 tag.  The header tags only go from 1 to 6. */
}


footer {
   background: url("../images/testimonial_bg.jpg")
}

  
